body {
    background-color: #92bfb1;
    text-align: center;
    color: #694a38;
}

#drum-machine {
    background-color: #694a38;
    width: 550px;
    border-radius: 50px;
    min-height: 550px;
    padding: 1%;
    margin: 0 auto;
}

.drum-pad {
    background-color: #f4ac45;
    width: 150px;
    float: left;
    margin: 10px;
    border-radius: 50px;
    min-height: 150px;
    font-size: 30px;
    padding: 11%;
    color: #1e152a;
}

.drum-pad:active {
    background-color: #a61c3c;
    color: #f4ac45;
}

#display {
    color: #694a38;
}