body {
    background-color: #4e6766;
}

#drum-machine {
    background-color: #f7dd72;
    width: 550px;
    border-radius: 50px;
    min-height: 550px;
    padding: 1%;
}

.drum-pad {
    background-color: #5ab1bb;
    width: 150px;
    float: left;
    margin: 10px;
    border-radius: 50px;
    min-height: 150px;
    font-size: 30px;
    padding: 11%;
}